
<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-warning fst-italic text-uppercase">{{title}}</h1>
      <div class="input-group-prepend"> <input type="text" class="form-control" placeholder="Author" name="todo">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
        </div>
      </div>
      </div>
      </form>
      <button type="button" class="btn btn-outline-secondary text-center">Add</button>
      <button type="button" class="btn btn-outline-danger text-center">Delete</button>
      </div>



<router-outlet></router-outlet>
